_format_version: "3.0"
_transform: true

services:
- host: auth-service.dot-agent-portal-stg.svc.cluster.local
  name: auth_service
  port: 3007
  protocol: http
  path: /
  routes:
  - name: login
    methods:
    - POST
    - OPTIONS
    paths:
    - /authentication/login
    strip_path: false
  - name: user_info
    methods:
    - GET
    - OPTIONS
    paths:
    - /authentication/user_info
    strip_path: false
  - name: pages_info
    methods:
    - POST
    - OPTIONS
    paths:
    - /authentication/pages_info
    strip_path: false
  - name: refresh
    methods:
    - POST
    - OPTIONS
    paths:
    - /authentication/refresh
    strip_path: false
  - name: end_session
    methods:
    - POST
    - OPTIONS
    paths:
    - /authentication/end_session
    strip_path: false
  - name: ldap_users
    methods:
    - GET
    - OPTIONS
    paths:
    - /authentication/ldap_users
    strip_path: false

- host: module-definition.dot-agent-portal-stg.svc.cluster.local
  name: module_definition
  port: 3007
  protocol: http
  path: /
  routes:
  - name: get_module
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/moduleDefinition
    strip_path: false
  - name: create_module
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/moduleDefinition
    strip_path: false
  - name: update_module
    methods:
    - PUT
    - OPTIONS
    paths:
    - /agentPortal/moduleDefinition
    strip_path: false
  - name: delete_module
    methods:
    - DELETE
    - OPTIONS
    paths:
    - /agentPortal/moduleDefinition
    strip_path: false
  - name: approve_module
    methods:
    - PUT
    - OPTIONS
    paths:
    - /agentPortal/approveModule
    strip_path: false

- host: agent-definition.dot-agent-portal-stg.svc.cluster.local
  name: agent_definition
  port: 3007
  protocol: http
  path: /
  routes:
  - name: get_agent
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/agentDefinition
    strip_path: false
  - name: create_agent
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/agentDefinition
    strip_path: false
  - name: update_agent
    methods:
    - PUT
    - OPTIONS
    paths:
    - /agentPortal/agentDefinition
    strip_path: false
  - name: delete_agent
    methods:
    - DELETE
    - OPTIONS
    paths:
    - /agentPortal/agentDefinition
    strip_path: false
  - name: approve_agent
    methods:
    - PUT
    - OPTIONS
    paths:
    - /agentPortal/approveAgent
    strip_path: false

- host: team-definition.dot-agent-portal-stg.svc.cluster.local
  name: team_definition
  port: 3007
  protocol: http
  path: /
  routes:
  - name: get_team
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/teamDefinition
    strip_path: false
  - name: create_team
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/teamDefinition
    strip_path: false
  - name: update_team
    methods:
    - PUT
    - OPTIONS
    paths:
    - /agentPortal/teamDefinition
    strip_path: false
  - name: delete_team
    methods:
    - DELETE
    - OPTIONS
    paths:
    - /agentPortal/teamDefinition
    strip_path: false
  - name: user_permissions
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/userPermissions
    strip_path: false

- host: pool-definition.dot-agent-portal-stg.svc.cluster.local
  name: pool_definition
  port: 3007
  protocol: http
  path: /
  routes:
  - name: get_pool
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/poolDefinition
    strip_path: false
  - name: create_pool
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/poolDefinition
    strip_path: false
  - name: update_pool
    methods:
    - PUT
    - OPTIONS
    paths:
    - /agentPortal/poolDefinition
    strip_path: false
  - name: delete_pool
    methods:
    - DELETE
    - OPTIONS
    paths:
    - /agentPortal/poolDefinition
    strip_path: false
  - name: get_pool_status
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/poolStatus
    strip_path: false
  - name: update_firewall_rule
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/firewallRule
    strip_path: false

- host: admin-service.dot-agent-portal-stg.svc.cluster.local
  name: admin_service
  port: 3007
  protocol: http
  path: /
  routes:
  - name: list_super_admins
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/superAdmins
    strip_path: false
  - name: update_super_admins
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/superAdmins
    strip_path: false
  - name: maintenance_data
    methods:
    - GET
    - POST
    - OPTIONS
    paths:
    - /agentPortal/maintenanceData
    strip_path: false
  - name: profile_data
    methods:
    - GET
    - POST
    - OPTIONS
    paths:
    - /agentPortal/agentProfile
    strip_path: false

- host: agent-pipeline.dot-agent-portal-stg.svc.cluster.local
  name: agent_pipeline
  port: 3007
  protocol: http
  path: /
  routes:
  - name: trigger_build
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/runBuild
    strip_path: false
  - name: status_build
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/statusUpdate
    strip_path: false
  - name: status_fetch
    methods:
    - GET
    - OPTIONS
    paths:
    - /agentPortal/statusFetch
    strip_path: false
  - name: cancel_build
    methods:
    - POST
    - OPTIONS
    paths:
    - /agentPortal/cancelBuild
    strip_path: false

