apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Release.Name }}
  name: {{ .Release.Name }}
spec:
  ports:
    - name: 80-tcp
      port: 80
      protocol: TCP
      targetPort: 5000
  selector:
    app: {{ .Release.Name }}
  sessionAffinity: None
  type: ClusterIP
  type: LoadBalancer
  loadBalancerIP: {{ .Values.service.ingressIp }}